*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000000;
}

header{
    height: 60px;
    border-bottom: white;
    border-bottom-style:solid;
    border-bottom-width: 1px;
}

#logo{
    height: 30px;
    width: 30px;
    margin-left: 5vh;
    margin-top: 2vh;
}

main{
    text-align: center;
    margin-top: 10vh;
}

main h1, h2{
    color: white;
    font-family:'Courier New', Courier, monospace;
}

main h1{
    font-size: 50px;
}

main h2, a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-top: 2vh;
}

main a{

    font-family: 'Courier New', Courier, monospace;
}


#name_label{
    text-align: start;
    margin-left: 85vh;
    color: #fff;
}

#form{
    margin-top: 5vh;
}

#form label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}



input{
    background-color: #000000;
    border: white 1px solid;
    color: white;
    height: 35px;
    width: 250px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

input::-webkit-input-placeholder{
    color: #fff;
    padding: 5px;
}

#button{
    margin-top: 5vh;
    width: 125px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
